In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv('bank-additional.csv')
df

     age;"job";"marital";"education";"default";"housing";"loan";"contact";"month";"day_of_week";"duration";"campaign";"pdays";"previous";"poutcome";"emp.var.rate";"cons.price.idx";"cons.conf.idx";"euribor3m";"nr.employed";"y"
0     30;"blue-collar";"married";"basic.9y";"no";"ye...
1     39;"services";"single";"high.school";"no";"no"...
2     25;"services";"married";"high.school";"no";"ye...
3     38;"services";"married";"basic.9y";"no";"unkno...
4     47;"admin.";"married";"university.degree";"no"...
...                                                 ...
4114  30;"admin.";"married";"basic.6y";"no";"yes";"y...
4115  39;"admin.";"married";"high.school";"no";"yes"...
4116  27;"student";"single";"high.school";"no";"no";...
4117  58;"admin.";"married";"high.school";"no";"no";...
4118  34;"management";"single";"high.school";"no";"y...

[4119 rows x 1 columns]